img {
    border-radius: 50%;
    height: 15em;
    object-fit: cover;
    width: 15em;
}

.cards_container {
    display: flex;
    justify-content: center;
}

.cards_team {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    box-shadow: 2px 4px 4px rgb(71, 57, 57);
    margin: 1em;
}

p {
     text-align: justify;
}

.team {
    margin: 0 1em;
}

@media only screen and (min-width: 500px) {
    .cards_container {
        margin: 0 4em;
    }
}

@media only screen and (min-width: 700px) {
    .cards_container {
        margin: 0 9em;
    }
}

@media only screen and (max-width: 920px) {
    .cards_container {
        flex-direction: column;
    }
}
